h3 {
    color: black;
}

.photoItem {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 210px;
    height: 200px;
    flex-grow: 1;
    margin: 10px;
}
.photoItem__Content {
    position: relative;
    border: 3px solid white;
    border-radius: 20px 20px 0px 0px;
    background: grey no-repeat left/250%;
    height: 100%;
    overflow: hidden;
}
.photoItem__Description {
    background-color: white;
    height: 50px;
    border-radius: 0px 0px 20px 20px;
    overflow: hidden;
    border: 3px solid white;
    padding: 0px 10px;
}
.photoItem__darkShade, .photoItem__lightShade {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 20%;    
    border-radius: 20px 20px 0px 0px;
}
.photoItem__darkShade {
    background-color: rgb(14, 18, 41);
}
.photoItem__lightShade {
    background-color: rgb(255, 255, 255);
}
.photoItem:hover .photoItem__darkShade {
    animation: shadeMoover 0.5s ease-in-out forwards;
}
.photoItem:hover .photoItem__lightShade {
    animation: shadeMoover 0.5s ease-in-out 0.1s forwards;
}
@keyframes shadeMoover {
    0%{
        opacity: 60%;
    }
    100%{
        width: 0%;
        opacity: 10%;
    }
}

.active {
    position: relative;
    width: 100%;
    height: 500px;
    order: -1;
    position: sticky;
    top: 10px;
    z-index: 1;
}
.active .photoItem__Description {
    height: fit-content;
    overflow: visible;
    padding-bottom: 10px;
}
.active .photoItem__Content {
    animation: bgMoving 15s ease-in-out infinite;
    animation-direction: alternate;
}
.active .photoItem__darkShade {
    display: none;
}
.active .photoItem__lightShade {
    display: none;
}
@keyframes bgMoving {
    0%{
        background-position: left;
        background-size: 120%;
    }
    100%{
        background-position: center;
        background-size: 100%;
    }
}