body {
  max-width: 980px;
  margin: 0 auto;
}

nav {
  margin: 10px;
}

.galleryBlock {
  display: flex;
  flex-wrap: wrap;   
}

.mailLink {
  color: rgb(150, 142, 31);
}
.mailLink:hover {
  cursor: pointer;
  text-shadow: 1px 1px 2px rgb(255, 255, 255);
}

#scrollTop {
  position: fixed;
  width: 60px;
  height: 60px;
  background-color: rgba(40, 180, 35, 0.5);
  border-radius: 50%;
  border: 2px solid white;
  z-index: 15;
  bottom: 50px;
  right: 50px;
  cursor: pointer;
  transition: 0.5s;
}
#scrollTop:hover {  
  background-color: rgba(255, 220, 120, 0.5);
}
#arrowTop {
  scale: 70%;
  fill: white;
}